/* medium device  */
@media screen and (max-width: 992px) {
    .header-menu ul{
        display: none;
     }
     .bars-menu{
         display: block;
     }
}



/* small device */
@media screen and (max-width: 576px) {
    /* header style start here */
    .header-menu ul{
       display: none;
    }
    .bars-menu{
        display: block;
    }
    .header-title {
        font-size: 1.3rem;
    }
    .header-container{
        width: 100vw;
        flex-direction: row-reverse;
    }
    
    /* header style end here */
}